* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Arial", sans-serif;
  font-weight: 500;
}
body {
  background: #eee;
  padding: 0 16px;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  overflow-x: hidden;
}

header {
  background-color: transparent;
  border-bottom: #ccc 1px solid;
  margin: auto -16px;
  padding: 10px 32px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: rgb(32 33 36) !important;
  font-family: "Arial", sans-serif;
  font-weight: 600;
}

div.head {
  display: flex;
  justify-content: space-between;
}

div.logos {
  display: flex;
  align-items: center;
}

div.logos img {
  width: 48px;
}

/* footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
} */
.note {
  background: #fff;
  border-radius: 7px;
  border: rgb(32 33 36) 1px solid;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  font-weight: bolder;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form {
  position: relative;
  border: rgb(32 33 36) 1px solid;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form .fab-button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

form .fab-button:hover {
  color: #f5ba13;
  background-color: #fff;
  border: rgb(32 33 36) 1px solid;
}



.icon {
  width: 30px;
  height: 30px;
}

/* Loader css */
* {
  box-sizing: border-box;
}

.static {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

div.loader {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100px;
  height: 100px;
  color: rgb(32 33 36);
  padding: 20px
}

div.loader svg {
  color: rgb(32 33 36);
}

@media (min-width: 768px) {
  .cont {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 575px) {
  body {
    overflow-x: hidden;
  }
  form {
    width: 80vw;
  }
  header {
    margin: auto -20px;
  }
  .row.container {
    margin-left: -30px;
  }
  .note {
    width: 80vw;
  }
}
